<a href="https://colab.research.google.com/github/Skydplay95/Data_salary_by_Major_Degree/blob/main/Data_salary_by_Major_Degree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("salaries_by_college_major.csv")
"""
OBJECTIFS :
- Check is missing data, if so clean it OK
- Find the highest starting salary ==> 74 300$
- Find the index matching it and the name of the cursus ==> 43, Physical Assistant
- Find college major with highest mid career salary ==> 107 000$ Chemical Engennering
- Find college major with lowest starting career salary ==> 34 000$, Spanish Major
- Find college major with lowest mid career salary ==>  52000$, Education
- Create a new column with the spread in mid career
- Find the top 5 degrees with highest Values in 90th percentile
- Find degrees with the greatest spread

In [ ]:
#See the 5 first row
df.head()

In [ ]:
# see how many row and columns we have
df.shape

In [ ]:
#see columns name
df.columns

In [ ]:
#search for missing value => return false if no missing value, true if missing a value
df.isna()

In [ ]:
#see the last 5 rows
df.tail()

In [ ]:
#missing value on the last row, butthis row is useless bc is source, so delete we delete it and assign it to new var
clean_df = df.dropna()
clean_df.tail()

In [ ]:
#get id of the maximum starting salary
id_max_dbt = clean_df["Starting Median Salary"].idxmax()

In [ ]:
#get the name of the diplome matching
clean_df["Undergraduate Major"].loc[id_max_dbt]

In [ ]:
#see all salary matching the max starting salary
clean_df.loc[id_max_dbt]

In [ ]:
#Find college major with highest mid career salary
max_mid_career_salary = clean_df["Mid-Career Median Salary"].idxmax()
clean_df.loc[max_mid_career_salary]

In [38]:
# Find college major with lowest starting career salary
id_min_dbt = clean_df["Starting Median Salary"].idxmin()
clean_df.loc[id_min_dbt]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [44]:
#Find college major with lowest mid career salary
min_mid_career_salary = clean_df["Mid-Career Median Salary"].idxmin()
clean_df.loc[min_mid_career_salary]

Undergraduate Major                  Education
Spread                                 72700.0
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [ ]:
#calcul the salary spread
spread_col = clean_df["Mid-Career 90th Percentile Salary"].subtract(clean_df["Mid-Career 10th Percentile Salary"])
#create the new column
clean_df.insert(1, "Spread", spread_col)

In [ ]:
#show the data with the new column
clean_df

In [ ]:
#sort value by the lowest spread
low_risk = clean_df.sort_values("Spread")
low_risk[["Undergraduate Major", "Spread"]].head()

In [ ]:
#Find the top 5 degrees with highest Values in 90th percentile
high_90th = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
high_90th[["Undergraduate Major","Mid-Career 90th Percentile Salary"]].head()

In [ ]:
# Find degrees with the greatest spread
high_risk = clean_df.sort_values("Spread", ascending=False)
high_risk[["Undergraduate Major", "Spread"]].head()

In [57]:
#Group by categorie
clean_df.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [60]:
#Average salary by group
clean_df.groupby("Group").mean().round(2)

<ipython-input-60-544088170b99>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby("Group").mean().round(2)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.33,44633.33,75083.33,43566.67,147525.00
HASS,95218.18,37186.36,62968.18,34145.45,129363.64
STEM,101600.00,53862.50,90812.50,56025.00,157625.00